<div class="cards">
    {{#each cardDesplay}}
    <div class="card">
        <img src={{CARDURL}} alt={{CARDTITLE}} />
        <h2>Card 1</h2>
        <p>{{CARDDESCRIPTION}}</p>
    </div>
    {{/each}}
</div>