<div class="galeria">
    {{#each galeriaItems}}
    <div class="galeria-item">
        <img src={{GALERIAURL}} alt={{GALERIATITULO}} />
        <p>{{GALERIATITULO}}</p>
    </div>
    {{/each}}
</div>