<div class="hero">
    <img src="https://picsum.photos/id/64/1500/1300" alt="Imagen hero panel" />
    <div class="button">
        <p>Bienvenido al hero panel</p>
        <button>Login</button>
    </div>
</div>