<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Celular</th>
        </tr>
    </thead>
    <tbody>
        {{#each contacto}}
        <tr>
            <td>{{NOMBRE}}</td>
            <td>{{GMAIL}}</td>
            <td>{{NUMERO}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>